router ospf {{ device.routing_protocols.ospf.id }}
{% for network in device.routing_protocols.ospf.networks %}
   network {{ network.prefix }} area {{ network.area }}
{% endfor %}
   redistribute rip subnets
   redistribute bgp 65000 subnets
